*.o
*.orig
*.gcda
*.gcno
*.gcov
.deps
config.log
aclocal.m4
autom4te.cache/
stamp-h1
yabasic
*.tar.gz
yabasic.xml
*.rpm
*.deb
Makefile
test-suite.log
tests/*.trs
tests/*.log
tests/bind_import
tests/nested_bind_import
bison.output
stamp-h.in
stamp-h2
out.dat
Makefile.in
config.status
pkg