<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
  <head>
    <base target="content">
    <title>Yabasic, Yet another Basic for Unix and Windows</title>
    <meta name="author" content="Marc Ihm">
    <meta name="description" content="Yabasic is a free basic interpreter for Unix and Windows">
    <meta name="keywords" content="yabasic basic free windows unix interpreter">
    <link rel="stylesheet" type="text/css" href="standard.css">
    <script src="https://use.fontawesome.com/e6ce96e4df.js"></script>
  </head>

  <body>
    <h1>Log of changes and bugs</h1>
    <p>&nbsp;This list lets you check the changes introduced with every version 
      of yabasic: 
<%= html_with_all_news %>
  </body>
</html>
