<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
<title>Header and Banner</title>
<link rel="stylesheet" type="text/css" href="standard.css">
<meta name="author" content="Marc Ihm">
<style><!--
.bigger{ font-weight:900; font-size:70vh; color:black; text-decoration:none; margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; }
.biggest{ font-weight:700; font-size:300vh; color:#129799; text-decoration:none; margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; }
.small{ font-size:22vh; color:white; text-decoration:none; margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; }
--></style>
</head>

<body bgcolor="#13A3A5" text="black" link="blue" vlink="purple" alink="red">

<p><div id="layer1" style="border-width:1px; border-style:none; width:1000px; height:364px; position:absolute; left:0px; top:0px; z-index:2;">
<table cellspacing="0" align="left" bordercolordark="black" bordercolorlight="black" cellpadding="0">
        <tr>
          <td align="left" valign="top"><p class="bigger">Yabasic</p></td>
           <td align="left" valign="bottom"><p class="small">Yet&nbsp;another&nbsp;Basic,&nbsp;<%= version %></p></td>
        </tr>
    </table></div><div id="layer2" style="border-width:1px; border-style:none; width:2000px; height:229px; position:absolute; left:80px; top:-55px; z-index:1;">
    <p class="biggest">Yabasic </p>
</div></body>

</html>
