<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
<base target="detail">
<title>Yabasic, Yet another Basic for Unix and Windows</title>
<meta name="author" content="Marc Ihm">
<meta name="description" content="Yabasic is a free basic interpreter for Unix and Windows">
<meta name="keywords" content="yabasic basic free windows unix interpreter">
<link rel="stylesheet" type="text/css" href="standard.css">

<!-- colors from https://color.adobe.com -->
<!-- Tests with browserstack.com -->

</head>

<body>
  <p style="position: fixed; top: 1vh; left: 0vw; z-index: -1; font-size: 3vh; font-weight: 600; color: #46573B">Yabasic,<br/>version<br/>2.77.1</p>
    <iframe style="position: fixed; z-index: 2; left: 1vw; top: 18vh; min-height: 80vh; width: 18vw;" src="toc.html" frameborder="0" scrolling="no"></iframe>
  <div style="left: 1vw; position: absolute">
    <table style="border-collapse: collapse; padding: 0">
      <tr>
	<td colspan="2">
	  <iframe style="height: 15vh; width: 98%" src="head.html" frameborder="0" scrolling="no"></iframe>
	</td>
      </tr>
      <tr style="min-height: 100%">
	<td style="width: 18vw;">
	  
	</td>
	<td>
	  <iframe style="width: 80vw" src="<%= frame_html %>" name="content" frameborder="0" scrolling="no" onload="style.height = contentWindow.document.body.scrollHeight + 'px';"></iframe>
	</td>
      </tr>
    </table>
  </div>
</body>

